.vscode/
build/
__pycache__
.ipynb_checkpoints
.pytest_cache
.DS_Store
.buildinfo
.Trash-1000
.logs
dev
_build
logs/
dev/
**/*_cov_mat.npy
onnx_models/*
*.tfrecord
/weights/site_specific_sweep/*
*.csv
results/
weights/
*.parquet
/notebooks/data/
*.pkl
*.png
*.npy
*.pdf
*.svg
!finetuning.png
!nrx_duidd/notebooks/idd_duidd_lmmse-cov_lab_double_layer-1.png
!nrx_duidd/results/
nrx_duidd/results/*
!nrx_duidd/results/cov_mat.png
!fig/**
