# SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary

[global]
label = 'duidd_j61_1ULL' # all relevant files such as weights will use this label
ebno = True

[system]
n_size_bwp = 4
num_rx_antennas = 4
mcs_index = [14]
mcs_table = 1
carrier_frequency = 2140000000.0
subcarrier_spacing = 30000.0
n_start_grid = 0
slot_number = 0
frame_number = 0
cyclic_prefix = 'normal'
precoding = 'codebook'
n_cell_id = 1
tpmi = 2
symbol_allocation = [0, 13]
num_antenna_ports = 2
dmrs_mapping_type = "B"
dmrs_config_type = 1
dmrs_type_a_position = 2
dmrs_additional_position = 2
dmrs_length = 1
dmrs_nid = [[1, 1], [1, 1]]
n_scid = 1
num_cdm_groups_without_data = 2
verbose = False
dmrs_port_sets = [[0], [2]]
n_rntis = [1, 1]
n_ids = [1, 1]

[baseline]
demapping_type = 'maxlog'
num_bp_iter = 20
cn_type = 'minsum'
lmmse_num_prbs = -1

num_nrx_iter = 0
num_nrx_iter_eval = 0
max_num_tx = 1
min_num_tx = 1
initial_chest = "ls"
custom_constellation = False
mask_pilots = False

[duidd]
chest = "lslin"
duidd_schedule = [5, 5]
low_complexity_mmse_pic = False

[training]
training_schedule = {
    "num_iter": [2000],
    "learning_rate": [0.001],
    "batch_size": [16],
    "train_tx": [False],
    "min_training_snr_db": [[0.]],
    "max_training_snr_db": [[10.]],
    "double_readout": [False],
    "apply_multiloss": [False],
    "weighting_double_readout": [0.01],
    "loss_fun_name": ["bce"]}

num_iter_train_save = 100
max_ut_velocity = 56.
min_ut_velocity = 0.
channel_norm = False
cfo_offset_ppm = 0.0
channel_type = 'Datalake'
eval_ebno_db_arr = [10.0]
xla = False
datalake_tf_fn = 'sgs23_1ULLs_5dB_j61_2026_06_04_cell_id_51_no.tfrecord'
datalake_no = 0.1
tfrecord_filename = "na"

[evaluation]
snr_db_eval_min = -2
snr_db_eval_max = 8
snr_db_eval_stepsize = 1
max_ut_velocity_eval = 56
min_ut_velocity_eval = 56
cfo_offset_ppm_eval = 0.0
channel_type_eval = "DoubleTDLlow"
tfrecord_filename_eval = "na"
channel_norm_eval = False
n_size_bwp_eval = 4
batch_size_eval = 30
batch_size_eval_small = 3
